.back {
    input[type=submit] {
        margin-bottom: 25px;
        padding: 10px;
        background-color: cornflowerblue;
        font-size: 1em;
        font-weight: bold;
    }
}

.answers {
    padding: 5px; 
    padding-right: 5px;
}

input[type=text] {
    width: 50%;
    border-color: cornflowerblue;
    padding-bottom: 5px;
}

.container {
    padding: 15px;
}

.question {
    padding: 10px;
    border-style: solid;
    border-color: cornflowerblue;
    input[type=submit] {
        margin-top: 15px;
        background-color: cornflowerblue;
        font-size: 1em;
        font-weight: bold;
        padding: 10px;
    }
}

textarea {
    padding: 5px;
    font-size: 1.5em;
    height: 100px;
    width: 90%;
    border-color: cornflowerblue;
}