.question {
    border-bottom: solid;
    border-color: lightgrey;
}

.results {
    padding: 10px;
}

.answers {
    padding: 10px;
}

.answer {
    font-size: 0.8em;
    padding: 10px;
    width: 100px;
    margin-left: 10px;
    background-color: cornflowerblue;
    margin-bottom: 15px;
}

footer {
    text-align: center;
    padding-top: 100px;
}

body {
    font-size: 1.2em;
}

input[type=radio] {
    margin-bottom: 5px;
}
