<header>
  <div class="container">
    <app-nav></app-nav>
  </div>
</header>
    
<!DOCTYPE html>
<html lang="en">
    <!-- <head>
      <title>Home Page</title>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
      <style>
        .row.content {height: 1500px}
        
        .sidenav {
          background-color: #f1f1f1;
          height: 100%;
          margin-left: 20px;
        }
      </style>
      
    </head> -->
  <body>
    
    <div class="question">
      <!-- <div class="row content"> -->
        <!-- <div class="col-sm-3 sidenav">
          <h4>Courses:</h4>
          <ul class="nav nav-pills nav-stacked">
            <li class="active"><a href="#section1">Add Course +</a></li>
            <li><a href="#section2">Course 1</a></li>
            <li><a href="#section3">Course 2</a></li>
          </ul><br>
        </div> -->
    
        <!-- <div class="col-sm-9">
          <h4><small>RECENT POSTS</small></h4>
          <hr>
          <h2>I have a Question...</h2>
          <h5><span class="glyphicon glyphicon-time"></span> Post by: </h5>
          <h5> <span class="label label-primary">Not Answered</span></h5><br>
            <span></span>
          <br>
        </div> -->

      <p>Your Question?</p>
      <ul class="answers">
        <input type="radio" name="q1" value="a"><label for="q1a">Option 1</label><br/>
        <input type="radio" name="q1" value="b"><label for="q1b">Option 2</label><br/>
        <input type="radio" name="q1" value="c"><label for="q1c">Option 3</label><br/>
        <!-- <input type="radio" name="q1" value="d" id="q1d"><label for="q1d">Option 4</label><br/> -->
      </ul>
      <button class="answer"><b>Enter</b></button>
      <div class="results">
        The Right answers is <strong>Option 1</strong>
      </div>

      <!-- </div> -->
    </div>
    
    <footer class="container-fluid">
      <p>Sponsored by Mac</p>
    </footer>
    
  </body>
</html>
    