<body>

    <div class="back">
        <!-- <button class="bb" routerLink="/"><-Back</button> -->
        <input type="submit" value="<-Back" routerLink="/">
    </div>   

    <form>
        <div class="login">
            <label for="username"><b>Username: </b></label>
            <input type="text" placeholder="Enter Username" name="username" required>
        
            <label for="password"><b>Password: </b></label>
            <input type="password" placeholder="Enter Password" name="password" required>
            
            <label for="password"><b>Re-enter Password: </b></label>
            <input type="password" placeholder="Enter Password" name="password" required>
        
            <button type="submit" routerLink="/home">Sign up</button>
            <!-- <input type="submit" value="Sign up" routerLink="/home"> -->
        </div>
    </form>

</body>
